//BREAKPOINTS FOR MOBILE FIRST
$tablet: 768px;
$laptop: 1200px;

//BREAKPOINTS FOR DESKTOP FIRST
$mobile-max: 767.98px;
$tablet-max: 1199.98px;

@mixin media-min($screenWidth) {
  @media (min-width: $screenWidth) {
    @content;
  }
}

@mixin media-max($screenWidth) {
  @media (max-width: $screenWidth) {
    @content;
  }
}

@mixin red-icon{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $red;
  border-radius: 50%;
  transition: .3s;

  &:hover{
    background: $red-dark;
  }
}
